<h1>Jack and Jill went up the hill to get a bucket of water...</h1>
<h2>(Using Rails 3.2.6 and PostgreSQL)</h2>
The bucket they got was:<br/>
Size: <%=@bucket.size%><br/>
Weight: <%=@bucket.weight%><br/>
Full?: <%=@bucket.is_full%><br/>
<br/>
Now they have collected <%=@bucket_count%> buckets in total!